@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    } 
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            padding: 30px 35px 0 35px;
            grid-template-columns: repeat(2, 425px);
            column-gap: 35px;
        }
        &__item {
            &::before {
                top: 35px;
            }
            &-head {
                padding: 15px 0 0 100px;
            }
            &-icon {
                top: 18px;
            }
        }
    }
    .skills {
        padding-top: 60px;
        &__items {
            margin-top: 40px;
            grid-template: repeat(2, minmax(270px, auto)) / repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__ratings {
            margin-top: 60px;
            grid-template: repeat(2, minmax(70px, auto)) / repeat(2, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
        }
    }
    .portfolio {
        padding-top: 60px;
        &__wrapper {
            grid-template: repeat(2, 280px) / repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 40px;
            .vertical, .horizontal {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        padding: 60px 0 52px 0;
        &__wrapper {
            grid-template-columns: 585px;
            justify-content: center;
        }
        &__photo {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 46px;
        }
    }
    .divider {
        margin: 15px auto 0 auto;
    }
    .about {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
            }
        }
    }
    .resume {
        .divider {
            margin: 10px auto 0 auto;
        }
        &__wrapper {
            padding: 20px 35px 0 35px;
            grid-template-columns: 1fr;
        }
    }
    .skills {
        &__ratings {
            column-gap: 25px;
        }
    }
    .portfolio {
        &__wrapper {
            margin-top: 30px;
        }
    }
    .price {
        &__wrapper {
            margin-top: 30px;
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 0;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / auto;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 20px;
    }
    .divider {
        margin: 15px auto 0 auto;
    }
    .skills {
        padding-top: 20px;
        &__items {
            justify-content: center;
        }
        &__ratings {
            grid-template: repeat(2, minmax(70px, auto)) / 350px;
        }
    }
    .portfolio {
        &__wrapper {
            justify-content: center;
            margin-top: 20px;
            row-gap: 10px;
        }
    }
    .price {
        &__wrapper {
            justify-content: center;
        }
    }
    .contacts {
        padding: 40px 0 52px 0;
        &__wrapper {
            grid-template-columns: auto;
            justify-content: center;
        }
        &__photo {
            display: none;
        }
        &__form {
            column-gap: 20px;
            grid-template: 45px 190px 45px / repeat(2, 240px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
            row-gap: 20px;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .skills {
        &__items {
            margin-top: 20px;
        }
        &__ratings {
            grid-template: repeat(2, minmax(70px, auto)) / minmax(280px, auto);
            &-line {
                width: 100%;
            }
        }
    }
    .price {
        &__wrapper {
            margin-top: 20px;
            grid-template-columns: 300px;
        }
    }
    .contacts {
        padding: 20px 0 52px 0;
        &__wrapper {
            padding: 10px;
            justify-content: center;
        }
        &__link {
            margin-right: 15px;
        }
        &__form {
            column-gap: 0;
            grid-template: 45px 45px 190px / minmax(300px, 1fr);
            justify-content: center;
        }
        &__textarea {
            grid-column: unset;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
        }
    }
}