@font-face {
    font-family: 'Poppins medium';
    src: local('Poppins'), url(../fonts/Poppins-Medium.woff) format(woff),
    url(../fonts/Poppins-Medium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins bold';
    src: local('Poppins'), url(../fonts/Poppins-Bold.woff) format(woff),
    url(../fonts/Poppins-Bold.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
